<h3 class="center-align">Crear Cuenta</h3>

<form [formGroup]="signupForm" (ngSubmit)="sendSignupForm(signupForm)">
  <table>
    <tr>
      <td>
          <input mdInput formControlName="firstName" placeholder="Primer nombre">
      </td>
      <td>
          <input mdInput formControlName="lastName" placeholder="Apellidos">
      </td>
    </tr>
    <tr>
      <td>
        <input mdInput formControlName="document" placeholder="Documento">
      </td>
      <td>
        <input mdInput type="email" formControlName="email" placeholder="Correo electrónico">
      </td>
    </tr>
    <tr>
      <td>
        <input mdInput formControlName="phone" placeholder="Teléfono">
      </td>
      <td>
        <input mdInput formControlName="address" type="text" placeholder="Dirección">
      </td>
    </tr>
    <tr>
      <td>
        <input mdInput formControlName="username" placeholder="Nombre de usuario">
      </td>
      <div formGroupName="passwords">
        <td>
          <input mdInput formControlName="password" type="password" placeholder="Contraseña">
        </td>
        <td>
          <input mdInput formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña">
        </td>
      </div>
    </tr>
  </table>
  <button [disabled]="!signupForm.valid" type="submit" md-raised-button>Enviar</button>
  <div *ngIf="error" class="mat-warn">
    {{ error }}
  </div>
</form>
